In [20]:
#read in the file
import csv
data = list(csv.reader(open('guns.csv')))
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

In [21]:
headers = data[0]
data = data[1:]
print(headers)
print(data[:5])

['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']
[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

In [22]:
years = [row[1] for row in data]
year_counts = {}
for each in years:
    if each not in year_counts:
        year_counts[each] = 1
    else:
        year_counts[each] += 1
year_counts

{'2012': 33563, '2013': 33636, '2014': 33599}

In [23]:
import datetime
dates = [datetime.datetime(year=int(row[1]), month=int(row[2]), day=1) for row in data]
print(dates[:5])
date_counts = {}
for each in dates:
    if each not in date_counts:
        date_counts[each] = 1
    else:
        date_counts[each] += 1
date_counts

[datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 2, 1, 0, 0), datetime.datetime(2012, 2, 1, 0, 0)]

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

In [24]:
def xxx_counts(lst):
    xxx_counts = {}
    for each in lst:
        if each in xxx_counts:
            xxx_counts[each] += 1
        else:
            xxx_counts[each] = 1
    return xxx_counts
sex_counts = xxx_counts([row[5] for row in data])
race_counts = xxx_counts([row[7] for row in data])
print(sex_counts)
print(race_counts)

{'F': 14449, 'M': 86349}
{'Hispanic': 9022, 'Native American/Native Alaskan': 917, 'White': 66237, 'Asian/Pacific Islander': 1326, 'Black': 23296}

In [25]:
census = list(csv.reader(open('census.csv', 'r')))
print(census)

[['Id', 'Year', 'Id', 'Sex', 'Id', 'Hispanic Origin', 'Id', 'Id2', 'Geography', 'Total', 'Race Alone - White', 'Race Alone - Hispanic', 'Race Alone - Black or African American', 'Race Alone - American Indian and Alaska Native', 'Race Alone - Asian', 'Race Alone - Native Hawaiian and Other Pacific Islander', 'Two or More Races'], ['cen42010', 'April 1, 2010 Census', 'totsex', 'Both Sexes', 'tothisp', 'Total', '0100000US', '', 'United States', '308745538', '197318956', '44618105', '40250635', '3739506', '15159516', '674625', '6984195']]

In [26]:
mapping = {'Asian/Pacific Islander' : 15159516 + 674625, 'Black' : 40250635, 'Native American/Native Alaskan' : 3739506, 'Hispanic' : 44618105, 'White' : 197318956}

In [27]:
race_per_hundredk = {}
for key in race_counts:
    race_per_hundredk[key] = race_counts[key]/mapping[key]*100000
print(race_per_hundredk)

{'Native American/Native Alaskan': 24.521955573811088, 'Black': 57.8773477735196, 'White': 33.56849303419181, 'Asian/Pacific Islander': 8.374309664161762, 'Hispanic': 20.220491210910907}

In [38]:
intents = [row[3] for row in data]
races = [row[7] for row in data]
homicide_race_counts = {}
for i, race in enumerate(races):
    if intents[i] == 'Homicide':
        if race in homicide_race_counts:
            homicide_race_counts[race] += 1
        else:
            homicide_race_counts[race] = 1
homicide_race_per_hundredk = {}
for key in homicide_race_counts:
    homicide_race_per_hundredk[key] = homicide_race_counts[key]/mapping[key]*100000
print(homicide_race_per_hundredk)

{'Native American/Native Alaskan': 8.717729026240365, 'Black': 48.471284987180944, 'White': 4.6356417981453335, 'Asian/Pacific Islander': 3.530346230970155, 'Hispanic': 12.627161104219914}

In [39]:
#The link between homiciderate and month
intents = [row[3] for row in data]
months = [row[2] for row in data]
homicide_per_month = {}
for idx, value in enumerate(months):
    if intents[idx] == 'Homicide':
        if value not in homicide_per_month:
            homicide_per_month[value] = 1
        else:
            homicide_per_month[value] += 1
print(homicide_per_month)

{'10': 2968, '09': 2966, '04': 2845, '06': 3130, '07': 3269, '01': 2829, '08': 3125, '05': 2976, '03': 2780, '11': 2919, '12': 3191, '02': 2178}

In [41]:
def deathway_per_character(lst, column, deathway):
    intents = [row[3] for row in lst]
    character = [row[column] for row in lst]
    deathway_per_character = {}
    for i, value in enumerate(character):
        if intents[i] == deathway:
            if value not in deathway_per_character:
                deathway_per_character[value] = 1
            else:
                deathway_per_character[value] += 1
    return deathway_per_character
homicide_per_gender = deathway_per_character(data, 5, 'Homicide')
print(homicide_per_gender)

{'F': 5373, 'M': 29803}

In [42]:
accidental_per_gender = deathway_per_character(data, 5, 'Accidental')
print(accidental_per_gender)

{'F': 218, 'M': 1421}

In [45]:
accidental_per_race = deathway_per_character(data, 7, 'Accidental')
print(accidental_per_race)
accidental_rate_per_race = {}
for key in accidental_per_race:
    accidental_rate_per_race[key] = accidental_per_race[key]/mapping[key]*1000000
print(accidental_rate_per_race)#accidental death per 1 million people in every race

{'Native American/Native Alaskan': 22, 'White': 1132, 'Black': 328, 'Asian/Pacific Islander': 12, 'Hispanic': 145}
{'Hispanic': 3.2498018461339853, 'Native American/Native Alaskan': 5.883130017708222, 'White': 5.736904466492312, 'Black': 8.14893976206835, 'Asian/Pacific Islander': 0.7578560782046845}

In [49]:
def xxx_counts(lst,column):
    xxx = [row[column] for row in lst]
    xxx_counts = {}
    for each in xxx:
        if each not in xxx_counts:
            xxx_counts[each] = 1
        else:
            xxx_counts[each] += 1
    return (xxx_counts)
location_counts = xxx_counts(data, 9)
education_counts = xxx_counts(data, 10)
print(location_counts)
print(education_counts)

{'Residential institution': 203, 'Farm': 470, 'Other unspecified': 8867, 'Industrial/construction': 248, 'Street': 11151, 'NA': 1384, 'Home': 60486, 'Trade/service area': 3439, 'Sports': 128, 'Other specified': 13751, 'School/instiution': 671}
{'1': 21823, 'NA': 53, '5': 1369, '2': 42927, '3': 21680, '4': 12946}